<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Music</title>
</head>
<body>
    <div class="title">
        <img src="logo.png">
        <h1>
            Mood Music
        </h1>
    </div>
    <button id="start" class="start" onclick=>
        Start
    </button>

    <script type="text/javascript">
        document.getElementById("start").onclick = function () {
            location.href = "capture" #SVGPreserveAspectRatio
        };
    </script>
</body>
</html>