/* --------------- Design System Setup --------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
  --pure-white: #fff;
  --pure-black: #000;
  --base-black: #171717;
  --base-pink-1: #e840af;
  --base-pink-2: #bf41ce;
  --base-purple: #9b41e9;
  --grad-vertical: linear-gradient(to bottom, #e740af 0%, #9a41ea 100%);
  --grad-horizontal: linear-gradient(to right, #e740af 0%, #c70fd4 51%, #9a41ea 100%);
  --screen-height: screen.height;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: none;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  display: block;
  background-color: var(--base-black);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  width: unset;
}

ul {
  margin: 0;
  list-style-type: none;
}

img,
video {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  border-style: none;
  object-fit: fill;
  cursor: pointer;
}

input,
select {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

.area {
  z-index: -999;
  background: var(--base-black);
  width: 100%;
  height: 100%;
}

.circles {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.circles li {
  z-index: -999;
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  background: var(--base-pink-1);
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  background: var(--base-purple);
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  background: var(--base-pink-2);
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  background: var(--base-pink-1);
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  background: var(--base-purple);
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  background: var(--base-pink-2);
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  background: var(--base-pink-1);
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  background: var(--base-purple);
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  background: var(--base-pink-2);
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  background: var(--base-purple);
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  background: var(--base-pink-1);
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(12) {
  background: var(--base-purple);
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(13) {
  background: var(--base-pink-2);
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(14) {
  background: var(--base-pink-1);
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(15) {
  background: var(--base-purple);
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(16) {
  background: var(--base-pink-2);
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(17) {
  background: var(--base-pink-1);
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(18) {
  background: var(--base-purple);
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(19) {
  background: var(--base-pink-2);
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(20) {
  background: var(--base-pink-1);
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-2000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* ------------------------------ */

/* --------------- Navbar --------------- */

.nav__bar {
  padding: 2rem 2rem;
  background-color: var(--base-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 56px;
  background: rgba(23, 23, 23, 0.45);
  box-shadow: 0 8px 32px 0 rgba(23, 23, 23, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 999;
}

.title__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo__img {
  width: 9rem;
  margin-right: 0.8rem;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  color: white;
}

.navbar__buttons {
  width: 340px;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__buttons {
  background-color: inherit;
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.navigation__buttons a {
  font-weight: 700;
}

.navigation__buttons::after {
  display: block;
  content: '';
  border-bottom: 2px solid var(--base-pink-1);
  transform: scaleX(0);
}

.navigation__buttons:hover::after {
  transform: scaleX(1);
}

.navigation__buttons:focus::after {
  transform: scaleX(1);
}

.passion__navbar-mobileScreen {
  display: none;
  transition: 0.5s ease;
}

#hamburger-open {
  width: 30px;
  height: 30px;
}

.passion__navbar-mobileScreen-overlayClose {
  display: none;
}

.slide__bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#hamburger-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;
}

.passion__navbar-mobileScreen-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.passion__navbar-mobileScreen-links li {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--pure-white);
  text-align: center;
  cursor: pointer;
}

.passion__navbar-mobileScreen-links li button {
  margin-top: 3rem;
  font-size: 2rem;
}

.passion__navbar-mobileScreen-links li:hover {
  color: var(--base-pink-2);
}

.passion__navbar-mobileScreen-overlayOpen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #141414;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 999;
}

.passion__navbar-mobileScreen-overlayClose {
  display: none;
}

#submit {
  background-image: var(--grad-horizontal);
  padding: 20px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 150% auto;
  color: var(--pure-white);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
}
#submit:hover {
  background-position: right center;
}

/* ------------------------------ */

@media only screen and (min-width: 1201px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 25px;
    font-weight: 600;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    background: var(--grad-horizontal);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 25px;
    font-weight: 600;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
  }

  /*--------Landing Page----------*/

  /*Tagline*/

  div.tagline {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.tagline div.tagline-text {
    width: 80%;
  }

  div.tagline div.tagline-text h1 {
    text-align: center;
  }

  div.tagline div.tagline-img {
    margin-top: 100px;
  }

  /*Features*/

  div.features {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.features div.feature-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-1 div.feature-1-text h4 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  div.features div.feature-1 div.feature-1-text h3 {
    font-size: 20px;
  }

  div.features div.feature-1 div.feature-1-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-img img {
    height: 200px;
  }

  div.features div.feature-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-2 div.feature-2-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-2 div.feature-2-text h4 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  div.features div.feature-2 div.feature-2-text h3 {
    font-size: 20px;
  }

  div.features div.feature-2 div.feature-2-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-2 div.feature-2-img img {
    height: 200px;
  }

  div.features div.feature-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-3 div.feature-3-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-3 div.feature-3-text h4 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  div.features div.feature-3 div.feature-3-text h3 {
    font-size: 20px;
  }

  div.features div.feature-3 div.feature-3-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-3 div.feature-3-img img {
    height: 200px;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 150px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 20px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 160px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 140px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  form.email-input {
    display: flex;
    margin-top: 100px;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  form.email-input div.email {
    width: 30%;
  }

  form.email-input div.email input#email {
    width: 100%;
    padding: 15px 15px;
    border: 4px solid;
    border-image: url('/assets/img/border.svg');
    border-image-slice: 10;
    background-color: var(--base-black);
    color: var(--pure-white);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  form.email-input div.submit-button {
    text-align: center;
    width: 20%;
  }

  div.email-cta {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  div.email-cta h3#email-text {
    vertical-align: middle;
    width: 70%;
  }

  /*Contribute*/

  div.heading-2#contribute-heading{
    margin-top: 100px;
  }

  div.contribute {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  div.contribute div.code-contribute {
    display: flex;
  }

  div.contribute div.code-contribute div.code-contribute-img{
    width: 50%;
  }

  div.contribute div.code-contribute div.code-contribute-text{
    width:50%;
  }

  div.contribute div.code-contribute div.code-contribute-text h3{
    margin-top: 50px;
  }

  div.contribute div.code-contribute div.code-contribute-text button#code{
    margin-top: 50px;
      background-image: var(--grad-horizontal);
      padding: 20px 40px;
      text-align: center;
      transition: 0.5s;
      background-size: 150% auto;
      color: var(--pure-white);
      border-radius: 12px;
      cursor: pointer;
      font-weight: 600;
      font-size: large;
    }
    div.contribute div.code-contribute div.code-contribute-text button#code:hover {
      background-position: right center;
    }

    div.contribute div.donate {
      display: flex;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
    }
  
    div.contribute div.donate div.donate-img{
      width: 50%;
      justify-content: center;
      align-items: center;
    }
  
    div.contribute div.donate div.donate-text{
      width:50%;
    }
  
    div.contribute div.donate div.donate-text h3{
      margin-top: 50px;
    }
  
    div.contribute div.donate div.donate-text button#donate{
      margin-top: 50px;
        background-image: var(--grad-horizontal);
        padding: 20px 40px;
        text-align: center;
        transition: 0.5s;
        background-size: 150% auto;
        color: var(--pure-white);
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        font-size: large;
      }
      div.contribute div.donate div.donate-text button#donate:hover {
        background-position: right center;
      }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 75px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 35px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 35px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 35px;
  }

  div.socials ul.socials-list li#mail img {
    height: 40px;
  }

  /*----------Privacy Policy------------*/

  div.privacy-policy div.heading {
    text-align: center;
  }

  div.privacy-policy div.policy {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  div.privacy-policy div.policy h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div.privacy-policy div.policy ul li::before {
    content: '\2022';
    color: var(--pure-white);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  div.privacy-policy div.policy li {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
  }
}

.alertbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  display: none;
}
.alert {
  background-color: var(--base-pink-1);
  color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
#email {
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    background: var(--grad-horizontal);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 25px;
    font-weight: 600;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 17px;
    font-weight: 600;
  }

  /*--------Landing Page----------*/

  /*Tagline*/

  div.tagline {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.tagline div.tagline-text {
    width: 80%;
  }

  div.tagline div.tagline-text h1 {
    text-align: center;
  }

  div.tagline div.tagline-img {
    margin-top: 100px;
  }

  div.tagline div.tagline-img img {
    height: 750px;
  }

  /*Features*/

  div.features {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.features div.feature-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-1 div.feature-1-text h4 {
    margin-bottom: 40px;
    font-size: 25px;
  }

  div.features div.feature-1 div.feature-1-text h3 {
    font-size: 15px;
    text-align: left;
  }

  div.features div.feature-1 div.feature-1-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-img img {
    height: 150px;
  }

  div.features div.feature-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-2 div.feature-2-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-2 div.feature-2-text h4 {
    margin-bottom: 40px;
    font-size: 25px;
  }

  div.features div.feature-2 div.feature-2-text h3 {
    font-size: 15px;
    text-align: left;
  }

  div.features div.feature-2 div.feature-2-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-2 div.feature-2-img img {
    height: 150px;
  }

  div.features div.feature-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-3 div.feature-3-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-3 div.feature-3-text h4 {
    margin-bottom: 40px;
    font-size: 25px;
  }

  div.features div.feature-3 div.feature-3-text h3 {
    font-size: 15px;
    text-align: left;
  }

  div.features div.feature-3 div.feature-3-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-3 div.feature-3-img img {
    height: 150px;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 130px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 30px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 130px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  form.email-input {
    display: flex;
    margin-top: 100px;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  form.email-input div.email {
    width: 30%;
  }

  form.email-input div.email input#email {
    width: 100%;
    padding: 15px 15px;
    border: 4px solid;
    border-image: url('/assets/img/border.svg');
    border-image-slice: 10;
    border-radius: 12px;
    background-color: var(--base-black);
    color: var(--pure-white);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  form.email-input div.submit-button {
    text-align: center;
    width: 20%;
  }

  div.email-cta {
    display: flex;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  div.email-cta h3#email-text {
    vertical-align: middle;
    width: 70%;
  }

  /*Contribute*/

  div.heading-2#contribute-heading{
    margin-top: 100px;
  }

  div.contribute {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  div.contribute div.code-contribute {
    display: flex;
  }

  div.contribute div.code-contribute div.code-contribute-img{
    width: 50%;
  }

  div.contribute div.code-contribute div.code-contribute-img img{
    height: 300px;
  }

  div.contribute div.code-contribute div.code-contribute-text{
    width:50%;
  }

  div.contribute div.code-contribute div.code-contribute-text h3{
    margin-top: 50px;
    text-align: left;
  }

  div.contribute div.code-contribute div.code-contribute-text button#code{
    margin-top: 50px;
      background-image: var(--grad-horizontal);
      padding: 20px 40px;
      text-align: center;
      transition: 0.5s;
      background-size: 150% auto;
      color: var(--pure-white);
      border-radius: 12px;
      cursor: pointer;
      font-weight: 600;
      font-size: large;
    }
    div.contribute div.code-contribute div.code-contribute-text button#code:hover {
      background-position: right center;
    }

    div.contribute div.donate {
      display: flex;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
    }
  
    div.contribute div.donate div.donate-img{
      width: 50%;
      height: 100px;
    }
  
    div.contribute div.donate div.donate-text{
      width:50%;
    }
  
    div.contribute div.donate div.donate-text h3{
      margin-top: 50px;
      text-align: left;
    }
  
    div.contribute div.donate div.donate-text button#donate{
      margin-top: 50px;
        background-image: var(--grad-horizontal);
        padding: 20px 40px;
        text-align: center;
        transition: 0.5s;
        background-size: 150% auto;
        color: var(--pure-white);
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        font-size: large;
      }
      div.contribute div.donate div.donate-text button#donate:hover {
        background-position: right center;
      }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 75px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 35px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 35px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 35px;
  }

  div.socials ul.socials-list li#mail img {
    height: 40px;
  }

  /*----------Privacy Policy------------*/

  div.privacy-policy div.heading {
    text-align: center;
  }

  div.privacy-policy div.policy {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  div.privacy-policy div.policy h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div.privacy-policy div.policy ul li::before {
    content: '\2022';
    color: var(--pure-white);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  div.privacy-policy div.policy li {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    background: var(--grad-horizontal);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 15px;
    font-weight: 600;
  }

  /*Navbar*/

  .nav__bar {
    position: relative;
    top: auto;
  }

  .title__logo {
    margin: 1rem 0;
  }

  .navbar__buttons {
    display: none;
  }

  .navigation__buttons {
    margin: 5px 0;
  }

  .passion__navbar-mobileScreen {
    display: block;
  }

  /*--------Landing Page----------*/

  /*Tagline*/

  div.tagline {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.tagline div.tagline-text {
    width: 80%;
  }

  div.tagline div.tagline-text h1 {
    text-align: center;
  }

  div.tagline div.tagline-img {
    margin-top: 100px;
  }

  div.tagline div.tagline-img img {
    height: 600px;
  }

  /*Features*/

  div.features {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.features div.feature-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-1 div.feature-1-text h4 {
    margin-bottom: 40px;
    font-size: 22px;
  }

  div.features div.feature-1 div.feature-1-text h3 {
    font-size: 12px;
    text-align: left;
  }

  div.features div.feature-1 div.feature-1-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-img img {
    height: 125px;
  }

  div.features div.feature-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-2 div.feature-2-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-2 div.feature-2-text h4 {
    margin-bottom: 40px;
    font-size: 22px;
  }

  div.features div.feature-2 div.feature-2-text h3 {
    font-size: 12px;
    text-align: left;
  }

  div.features div.feature-2 div.feature-2-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-2 div.feature-2-img img {
    height: 125px;
  }

  div.features div.feature-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-3 div.feature-3-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    align-items: left;
  }

  div.features div.feature-3 div.feature-3-text h4 {
    margin-bottom: 40px;
    font-size: 22px;
  }

  div.features div.feature-3 div.feature-3-text h3 {
    font-size: 12px;
    text-align: left;
  }

  div.features div.feature-3 div.feature-3-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-3 div.feature-3-img img {
    height: 125px;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 142px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 50px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 30px;
    height: 110px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 30px;
  }

  /*Email Input*/

  form.email-input {
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  form.email-input div.email {
    width: 50%;
  }

  form.email-input div.email input#email {
    width: 80%;
    padding: 20px 20px;
    border: 4px solid;
    border-image: url('/assets/img/border.svg');
    border-image-slice: 10;
    border-radius: 12px;
    background-color: var(--base-black);
    color: var(--pure-white);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  form.email-input div.submit-button {
    width: 30%;
    text-align: center;
  }

  div.email-cta {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }

  div.email-cta h3#email-text {
    text-align: center;
    vertical-align: middle;
  }

  /*Contribute*/

  div.heading-2#contribute-heading{
    margin-top: 100px;
  }

  div.contribute {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  div.contribute div.code-contribute {
    display: flex;
  }

  div.contribute div.code-contribute div.code-contribute-img{
    width: 50%;
  }

  div.contribute div.code-contribute div.code-contribute-img img{
    height: 200px;
  }

  div.contribute div.code-contribute div.code-contribute-text{
    width:50%;
  }

  div.contribute div.code-contribute div.code-contribute-text h3{
    margin-top: 50px;
    text-align: left;
  }

  div.contribute div.code-contribute div.code-contribute-text button#code{
    margin-top: 50px;
      background-image: var(--grad-horizontal);
      padding: 20px 40px;
      text-align: center;
      transition: 0.5s;
      background-size: 150% auto;
      color: var(--pure-white);
      border-radius: 12px;
      cursor: pointer;
      font-weight: 600;
      font-size: large;
    }
    div.contribute div.code-contribute div.code-contribute-text button#code:hover {
      background-position: right center;
    }

    div.contribute div.donate {
      display: flex;
      margin-top: 75px;
      justify-content: center;
      align-items: center;
    }
  
    div.contribute div.donate div.donate-img{
      width: 50%;
    }

    div.contribute div.donate div.donate-img img{
      height: 100px;
    }
  
    div.contribute div.donate div.donate-text{
      width:50%;
    }
  
    div.contribute div.donate div.donate-text h3{
      margin-top: 50px;
      text-align: left;
    }
  
    div.contribute div.donate div.donate-text button#donate{
      margin-top: 50px;
        background-image: var(--grad-horizontal);
        padding: 20px 40px;
        text-align: center;
        transition: 0.5s;
        background-size: 150% auto;
        color: var(--pure-white);
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        font-size: large;
      }
      div.contribute div.donate div.donate-text button#donate:hover {
        background-position: right center;
      }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 70px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 20px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 30px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 30px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 30px;
  }

  div.socials ul.socials-list li#mail img {
    height: 35px;
  }

  /*----------Privacy Policy------------*/

  div.privacy-policy div.heading {
    text-align: center;
  }

  div.privacy-policy div.policy {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  div.privacy-policy div.policy h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div.privacy-policy div.policy ul li::before {
    content: '\2022';
    color: var(--pure-white);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  div.privacy-policy div.policy li {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    background: var(--grad-horizontal);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 15px;
    font-weight: 600;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 12px;
    font-weight: 600;
  }

  /*Navbar*/

  .nav__bar {
    position: relative;
    top: auto;
  }

  .title__logo {
    margin: 1rem 0;
  }

  .navbar__buttons {
    display: none;
  }

  .navigation__buttons {
    margin: 5px 0;
  }

  .passion__navbar-mobileScreen {
    display: block;
  }

  /*--------Landing Page----------*/

  /*Tagline*/

  div.tagline {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.tagline div.tagline-text {
    width: 80%;
  }

  div.tagline div.tagline-text h1 {
    text-align: center;
  }

  div.tagline div.tagline-img {
    margin-top: 100px;
  }

  div.tagline div.tagline-img img {
    height: 250px;
  }

  /*Features*/

  div.heading-2#features-heading {
    margin-left: 20px;
    margin-right: 20px;
  }

  div.features {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  div.features div.feature-1 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  div.features div.feature-1 div.feature-1-text h4 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.features div.feature-1 div.feature-1-text h3 {
    font-size: 10px;
  }

  div.features div.feature-1 div.feature-1-img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-1 div.feature-1-img img {
    height: 125px;
  }

  div.features div.feature-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  div.features div.feature-2 div.feature-2-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-2 div.feature-2-text h4 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  div.features div.feature-2 div.feature-2-text h3 {
    font-size: 10px;
  }

  div.features div.feature-2 div.feature-2-img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-2 div.feature-2-img img {
    height: 125px;
  }

  div.features div.feature-3 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  div.features div.feature-3 div.feature-3-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-3 div.feature-3-text h4 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }

  div.features div.feature-3 div.feature-3-text h3 {
    font-size: 10px;
  }

  div.features div.feature-3 div.feature-3-img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  div.features div.feature-3 div.feature-3-img img {
    height: 125px;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 30px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 110px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  form.email-input {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  form.email-input div.email {
    width: 100%;
  }

  form.email-input div.email input#email {
    width: 80%;
    padding: 10px 10px;
    border: 4px solid;
    border-image: url('/assets/img/border.svg');
    border-image-slice: 10;
    border-radius: 12px;
    background-color: var(--base-black);
    color: var(--pure-white);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  form.email-input div.submit-button {
    margin-top: 30px;
    width: 50%;
    text-align: center;
  }

  #submit {
    font-size: small;
    padding: 15px 30px;
  }

  div.email-cta {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }

  div.email-cta h3#email-text {
    text-align: center;
    vertical-align: middle;
  }

  /*Contribute*/

  div.heading-2#contribute-heading{
    margin-top: 100px;
  }

  div.contribute {
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 75px;
  }

  div.contribute div.code-contribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div.contribute div.code-contribute div.code-contribute-img{
    width: 100%;
  }

  div.contribute div.code-contribute div.code-contribute-img img{
    height: 150px;
  }

  div.contribute div.code-contribute div.code-contribute-text{
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 50px;
    text-align: center;
  }

  div.contribute div.code-contribute div.code-contribute-text h3{
    margin-top: 50px;
    text-align: center;
  }

  div.contribute div.code-contribute div.code-contribute-text button#code{
    margin-top: 50px;
      background-image: var(--grad-horizontal);
      padding: 15px 30px;
      text-align: center;
      transition: 0.5s;
      background-size: 150% auto;
      color: var(--pure-white);
      border-radius: 12px;
      cursor: pointer;
      font-weight: 600;
      font-size: medium;
    }
    div.contribute div.code-contribute div.code-contribute-text button#code:hover {
      background-position: right center;
    }

    div.contribute div.donate {
      display: flex;
      flex-direction: column;
      margin-top: 75px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    div.contribute div.donate div.donate-img{
      width: 100%;
    }

    div.contribute div.donate div.donate-img img{
      height: 75px;
    }
  
    div.contribute div.donate div.donate-text{
      width:100%;
      margin-top: 50px;
    }
  
    div.contribute div.donate div.donate-text h3{
      margin-top: 50px;
      text-align: center;
    }
  
    div.contribute div.donate div.donate-text button#donate{
      margin-top: 50px;
        background-image: var(--grad-horizontal);
        padding: 15px 30px;
        text-align: center;
        transition: 0.5s;
        background-size: 150% auto;
        color: var(--pure-white);
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        font-size: medium;
      }
      div.contribute div.donate div.donate-text button#donate:hover {
        background-position: right center;
      }

  /*Footer*/

  div.footer {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 40px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 10px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 20px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 20px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 20px;
  }

  div.socials ul.socials-list li#mail img {
    height: 25px;
  }

  /*----------Privacy Policy------------*/

  div.privacy-policy div.heading {
    text-align: center;
  }

  div.privacy-policy div.policy {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  div.privacy-policy div.policy h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div.privacy-policy div.policy ul li::before {
    content: '\2022';
    color: var(--pure-white);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  div.privacy-policy div.policy li {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
  }
}
