* {
	overflow:scroll;
}

@media only screen and (min-width: 601px){
div.navbar{
    margin-left: 50px;
    margin-right: 50px;
    flex: 100%;
    flex-direction: row;
}
.box {
	display: inlineBlock;
	margin: 30px auto 20px auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
	padding: 20px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}

.calendar {
	margin: 30px auto 20px auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

abbr[title] {
	text-decoration: none;
}
}

@media only screen and (max-width:600px){
    div.navbar{
        flex: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    img{
        text-align: center;
        justify-content: center;
        height: 150px;
    }
    h4#title{
        text-align: center;
        font-size: medium;
    }
    .box {
        flex-direction: column;
        display: inlineBlock;
        margin: 25px auto 15px auto;
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        font-weight: bold;
        font-size: medium;
    }
    
    .calendar {
        margin: 20px auto 10px auto;
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    }
    
    abbr[title] {
        text-decoration: none;
    }
    }